* {
    padding: 0;
    margin: 0;
    outline: 0;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.swiper-slide-active {
    transition: transform 0.3s ease;
}

.mySwiper {
    padding: 0;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.mySwiper img {
    width: 100%;
    height: 393px;
    object-fit: cover;
    object-position: center;
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: #FFFFFF !important;
    font-size: 32px !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: auto !important;
    padding-top: 20px;
}